@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');

* {margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.log{
    
    color: white;
    font-family: 'Mulish', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    z-index: -1;
    margin: 0;
    overflow: hidden;
    backdrop-filter: blur(10%);
    background-image:linear-gradient(rgba(0, 0, 0, 0.31),rgba(0, 0, 0, 0)) ,url(hunger.jpeg) ;
    background-size: cover;
background-repeat: no-repeat;


}
/*!-----------------------------------------------------------------NAV----------------------------*/
.header{
    min-height: 100vh;
    width: 100;
    font-family: 'Mulish', sans-serif;
    background-size: cover;
background-repeat: no-repeat;
position: relative;


}

nav{
    display: flex;
    padding: 2% 6%;
    align-items: center;
    justify-content: space-between;
   
   
    background-repeat: no-repeat;
position: relative;
background-image: linear-gradient(50deg, #9ac6e9, #f78b6b, #626565);
backdrop-filter: blur(100px);
    height: 10px;
    box-shadow: rgba(14, 13, 13, 0.416);


}
.nav-links{
    flex: 1;
    text-align: right;
    
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
color: #fff;
text-decoration: none;
font-size: 18px;

}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height:2px;
    background: rgba(255, 255, 255, 0.416);
display: block;
margin: auto;
transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
color: #fff;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
background-color: rgba(246, 213, 219, 0.186);
backdrop-filter: blur(5px);
height: 40%;
text-align: center;
justify-content: center;
border-radius: 0% 100px;


}
.text-box h1{
 font-size: 60px;
}
.text-box p{
    margin: 10px 0px 40px;
}


@media(max-width: 800px){
.text-box h1{
    font-size: 40px;
}
/*.nav-links ul li{
    display: block;
}
.nav-links{
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.281);
    backdrop-filter: blur(100px);
    height: 100vh;
    width: 200px;
    text-align: left;
    z-index: 2;
}*/
.nav-links ul li a{
  
    font-size: 10px;
}
}
.container {
    padding: 20px 40px;
background: transparent;
backdrop-filter: blur(200px);
    border: 2px solid rgba(248, 243, 243, 0.4);
    border-radius: 20px 40px;
    box-shadow: 22px 4px 6px rgb(0, 0, 0, 0.3);


}



.container a {
    text-decoration: none;
    border-bottom-color: #fbc456;
}

.btn {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background-image: linear-gradient(50deg, #9ac6e9, #f78b6b, #626565);


padding: 15px;
    font-family: inherit;
    font-size: 16px;
    border-radius: 10px 20px;
    color:  #fff;
   border: transparent;
    backdrop-filter: blure(3px);

}

.btn:focus {
    outline: 0;
}

.btn:active {
    transform: scale(0.98);
}

.text {
    margin-top: 30px;
}

.form-control {
    position: relative;
    margin: 20px 0 40px;
    width: 300px;
}

.form-control input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px #fff solid;
    display: block;
    width: 100%;
    font-size: 18px;
    padding: 15px 0;
    color: #fff;
}

.form-control input:focus,
.form-control input:valid {
    outline: 0;
    border-bottom-color: #f6b387;
}

.form-control label {
    position: absolute;
    top: 15px;
    left: 0;

}

.form-control label span {
display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3 cubic-bezier(0.68, -0.55, 0.265, 1.55);

}

.form-control input:focus+label span ,
.form-control input:valid+label span {
 color: #f6b387;
    transform: translateY(-30px);
}