<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class=" sub-header">
        <nav>
            <p>LOGO</p>
            <div class="nav-links">
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>

            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('hotel_info') }}">hotel Info</a></li>
            <li><a href="{{ url_for('food_donation') }}">food donation</a></li>
            <li><a href="{{ url_for('location') }}">Location</a></li>
       
        </ul>
        </div>
        </nav>
  
</section>
</body>
</html>