<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hotel info</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <section class=" sub-header">
        <nav>
            <p>SharePlate</p>
            <div class="nav-links">
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>

            
            <li><a href="{{ url_for('hotel_info') }}">hotel Info</a></li>
            <li><a href="{{ url_for('food_donation') }}">food donation</a></li>
            <li><a href="{{ url_for('location') }}">Location</a></li>
            
            <li><a href="{{ url_for('about') }}">About</a></li>

        </ul>
        </div>
        </nav>
        <h1>Hotel Information</h1>
    </section>
   <!--Hotel Inforfation--->
    <section class="HotelInforfation">
      
        <p>Our website serves as a vital platform for hotels in the area to communicate their surplus food availability, facilitating the connection between excess provisions and those in need. By leveraging this digital network, we strive to bridge the gap between abundance and scarcity, aiming to eradicate hunger from our communities. Through our collective efforts, we endeavor to make strides towards a world where no one goes to bed hungry.</p>

    </section>
        <!-----------------------form----------------------------------------------->
        <section>
        <div class = "container-f">
        <form class="h-form">
        <input type="text" name="Name"   placeholder="Name"  class ="contact-ip" required>
        <input type="address" name="" id=""  placeholder="Address" class ="contact-ip" required>
        <input type="text" name="" id=""  placeholder="Phone Number" class ="contact-ip" required>
   
        <button class="btnf">Submet</button>
        </form>
    </div>
</section>
</body>
</html>