<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>location</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <section class=" sub-header">
        <nav>
            <p>SharePlate</p>
            <div class="nav-links">
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('hotel_info') }}">hotel Info</a></li>
            <li><a href="{{ url_for('food_donation') }}">food donation</a></li>
            <li><a href="{{ url_for('location') }}">Location</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
        </ul>
        </div>
        </nav>
        <h1>Location</h1>
</section>

<section class="location">
    <div class="slum"> <p>Hastings</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14738.916240984337!2d88.33468845!3d22.551820000000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a0277636be96971%3A0xc85965fda612f89e!2sMaidan%2C%20Hastings%2C%20Kolkata%2C%20West%20Bengal!5e0!3m2!1sen!2sin!4v1708448479520!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
        
<div class="slum">
<p> Lalmandir </p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3683.5178039114044!2d88.36549819999999!3d22.597131199999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a027632512c7087%3A0x83e052f0a75641b2!2sLal%20Mandir%2C%20Jatindra%20Mohan%20Ave%2C%20Raja%20Nabakrishna%20Street%2C%20Sovabazar%2C%20Shobhabazar%2C%20Kolkata%2C%20West%20Bengal%20700005!5e0!3m2!1sen!2sin!4v1708450936647!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<div class="slum">
    <p> Kalikapur </p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7372.189549083458!2d88.39662394999999!3d22.50062705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a02715ea75e1cff%3A0x9d9486fb5fb83957!2sKalikapur%2C%20Haltu%2C%20Kolkata%2C%20West%20Bengal%20700099!5e0!3m2!1sen!2sin!4v1708451178841!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="slum">
        <p> Basanti  </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7388.20643819067!2d88.7139559!3d22.198183300000014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a0222925d1d5477%3A0xff186f7cde3162c9!2sBasanti%2C%20West%20Bengal%20743312!5e0!3m2!1sen!2sin!4v1708451336914!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
 
</section>
<!-------location---------->


<div class="about-us">
<section class="footer">
    <h4>About Us</h4>
    <p>Welcome to our platform! Register and easily connect with local hotels and organizations <br>
    to reduce food wastage. Choose your country, state, and area to discover available hotels or provide your location for <br> event leftovers. Help organizations find surplus food, and explore mapped slum areas in your vicinity, fostering a community-driven approach to combating hunger. Join us in making a positive impact today!</p>
   
    to reduce food wastage. Choose your country, state, and area to discover available hotels or provide your location for <br> event leftovers. Help organizations find surplus food, and explore mapped slum areas in your vicinity, fostering a community-driven approach to combating hunger.
     Join us in making a positive impact today!</p>
</section>
</div>
</body>
</html>