<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>location</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <section class=" sub-header">
        <nav>
            <p>LOGO</p>
            <div class="nav-links">
        <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="#">Area</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="hotel.html">hotel Info</a></li>
        <li><a href="{{ url_for('food_donation') }}">food donation</a></li>
        <li><a href="login page - Copy/">Location</a></li>
        <li><a href="login page - Copy/log.html">login</a></li>
        </ul>
        </div>
        </nav>
        <h1>Location</h1>
</section>

<section class="location">
    <div class="slum"> <p>Dharavi</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15085.54435143304!2d72.85738654999999!3d19.0467552!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c8d72abf2d35%3A0x5ba0b162df2aa82e!2sDharavi%2C%20Mumbai%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1707561234318!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
        <div class="slum"><P>Bhalswa </P></div>   
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d27983.575203267897!2d77.164252!3d28.751002300000007!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d01b3c21f088b%3A0x9c5699c97484aa56!2sBhalswa%2C%20Delhi!5e0!3m2!1sen!2sin!4v1707561615195!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>  
       <div class="slum"><P>Nochikuppam </P>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3886.96795953979!2d80.279775!3d13.037711450000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a526880635eea17%3A0xd0e1f320c8cc6faf!2sNochi%20Nagar%2C%20Mylapore%2C%20Chennai%2C%20Tamil%20Nadu!5e0!3m2!1sen!2sin!4v1707561791471!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>  
<div class="slum">
<p>Rajendra Nagar</p>
 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.348045948638!2d77.61923395000001!3d12.94956665!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae14377edf14ed%3A0x50812700cbd88f77!2sRajendra%20Nagar%2C%20Adugodi%2C%20Bengaluru%2C%20Karnataka%20560047!5e0!3m2!1sen!2sin!4v1707561943084!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<div class="slum"><p>Basanti  </p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7388.2064381906885!2d88.7139559!3d22.198183300000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a0222925d1d5477%3A0xff186f7cde3162c9!2sBasanti%2C%20West%20Bengal%20743312!5e0!3m2!1sen!2sin!4v1707562013313!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>  
</section>
<!-------location---------->


<div class="about-us">

<section class="footer">
    <h4>About Us</h4>
    <p>Welcome to our platform! Register and easily connect with local hotels and organizations <br>
    to reduce food wastage. Choose your country, state, and area to discover available hotels or provide your location for <br event leftovers. Help organizations find surplus food, and explore mapped slum areas in your vicinity, fostering a community-driven approach to combating hunger. Join us in making a positive impact today!</p>
   
</section>
</div>
</body>
</html>